
app==0.0.1

Flask==0.10.1

gunicorn==19.9.0


Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0

matplotlib==3.1.1

numpy==1.17.3

opencv-python==4.1.1.26

panda==0.3.1
pandas==1.0.0

Pillow==7.1.1


scikit-learn==0.21.3

sklearn==0.0

tensorboard==1.13.1
tensorflow==1.13.1

utils==0.9.0

Werkzeug==0.9.6

