{% extends "base_page.html" %} {% block content %}
<style>
.box1{
border-radius: 30px;
width:100%;
color: #404a46;
background:	#ffffff;
opacity: 0.7;
padding: 20px;
}
</style>


<body>
<br>
<br>
<div class="box1">

      <center><h2> Fruitada is a web application for classifying fruits as well as classifying fresh and ripe oranges. </h2></center>
</div>
<br>
<br>
<div class="box1">
      <center><h2> Fruitada introduces an informative and fun web application for classifying 16 different types of fruits.
      It also introduces a deeper approach of the fruit classification concept. This approach is the orange edibility classification which classifies orange
      into two classes, fresh and rotten.</h2></center>
</div>
<br>
<br>
<div class="box1">
      <center><h1> Contact Us </h1></center>
      <center><h2>dina.wahid00@gmail.com</h2></center>
      <center><h2>+60132832409</h2></center>
</div>
</body>




{% endblock %}